@model RecordViewModel

@if (Model == null)
{
    <div class="alert alert-warning">
        <b>Note:</b>&nbsp;No record(s) found.
    </div>
}
else
{
    if (TempData["SuccessResult"] != null)
    {
        <div class="alert alert-success text-center">
            <b>Note:</b>&nbsp;@TempData["SuccessResult"]
        </div>
    }
    @*<div class="alert alert-info">
        <b>Note:</b>&nbsp;@Model.Receivers.Count() record(s) found.
    </div>*@

<div class="col-md-12">
    <div class="form-group d-flex justify-content-center">
        <a class="btn btn-info" asp-controller="Home" asp-action="Record">
            Add New Record
        </a>
    </div>
</div>

    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                @*<td>
                    <input id="chkBoxMain" type="checkbox" />
                </td>*@
                <td>Unit Name</td>
                <td>Unit Number</td>
                <td>Receiver</td>
                <td>Vendors</td>
                <td>Day</td>
                <td>Delivery Date</td>
                <td>Delivery Time</td>
                <td style="width:300px;">Action(s)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.Receivers)
            {
                <tr>
                    @*<td>
                        <input id="chkBoxChild" type="checkbox" />
                    </td>*@
                    <td>@r.UnitName</td>
                    <td>@r.UnitNumber</td>
                    <td>@r.FirstName @r.LastName</td>

                    @{
                        //foreach (var v in Model.VendorLists
                        //    .Where(v => v.Id == r.VendorList.Id))
                        //{
                        //    <td>@v.Vendors</td>
                        //}
                    }
                    <td>@r.VendorList.Vendors</td>

                    <td>@r.Day</td>

                    @{ 
                        var delDate = r.DeliveryDate;
                        var getDateOnly = delDate.ToShortDateString();
                    }
                    <td>@getDateOnly</td>

                    <td>@r.DeliveryTime</td>
                    <td class="align-middle" align="center">
                        <button class="btn btn-info"><i class="fa fa-eye"></i>&nbsp;View</button>
                        <a class="btn btn-secondary" asp-controller="Home" asp-action="Record" 
                           asp-route-_recordId="@r.Id">
                            <i class="fa fa-pen-alt"></i>&nbsp;Edit
                        </a>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" 
                           asp-route-_recordId="@r.Id">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
